@import 'nib'

@import '_variables'

@import '_fonts'

.centered, .large-font, p, h2, .micro-font
  text-align: center

body
  margin: 0;
  background url("/img/d.png") no-repeat 50% 0
  height 4000px
  font-family "brandon_grotesquelight"
  color #000000

#header_wrap
  min-height 700px
  width 100%

.steps
  min-height 425px

.chart
  min-height 750px

.trad_block
  min-height 515px

.video_block
  min-height: 505px;

.down_block
  min-height 475px

h2
  color #5fc6c8
  font-family "brandon_grotesque_thin"
  font-size 38px
  font-weight 800
  letter-spacing 0.2px
p
  color #888888
  font-size 18px
  font-family "brandon_grotesquelight"


h4
  color #444444
  font-family "brandon_grotesque_regular"

.micro-font
  color #888888
  font-family 'brandon_grotesque_regular'
  font-size 12px

.chart h2
  margin 12px 3px 22px 0px

.trad_block h2
  margin -28px 4px 18px 0px

a
  color #ff0000